@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
h1{
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  color:#936626;
}
h3{
  font-size: 2.3rem;
  color:white;
  font-family: 'DM Sans', sans-serif;
  
}
h3.header-main{
  font-family: "DM Sans", serif;
}
h3.card-title{
  text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
         1px -1px 0 #000;
}
h2{
  color: #936626;
  font-style: italic;
  font-weight: 600;
  font-family: 'DM Sans', sans-serif;
}

h4{
  font-family: 'DM Sans', sans-serif;
  color: #62441a;
  overflow: hidden;
  position: relative;
  z-index: 20;
}
h4:after{
  background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}
h4:hover:after {
    left: 120%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

li{
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
}
p{
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
}
.navbar-brand{
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  color:white;
}


/* nav */
nav{
    background: linear-gradient(-45deg, #e8d3c3, #daa970, #936626);
    height: auto;
}
.navbar-toggler:hover{
    background-color: rgb(134, 91, 42);
}
.dropdown .dropbtn{
  background-color: inherit;
  outline: none;
  border: none;
}
a.nav-link:hover{
  text-decoration:underline;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: rgb(245, 241, 230);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a{
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}


body{
    background-color: rgb(231, 226, 217);
}
html{
  scroll-behavior: smooth;
}
.responsiveIMG{
  width: 100%;
  height:auto;
  max-width: 500px;
}

.little-card{
  display: block;
  top: 0px;
  position: relative;
  /* max-width: 262px; */
  max-width: 300px;
  /* background-color: #f2f8f9; */
  border-radius: 4px;
  /* padding: 32px 24px; */
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}
.little-card:hover{
  transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    /* border: 1px solid #cccccc;
    background-color: white; */
}
.little-card::before{
  content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
}
.little-card:hover::before{
  transform: scale(2.15);
}


/*desktop*/
@media (min-width: 750px) { 
    .containerMobile {
      display: none;
    }
}
  /*mobile screen*/
  @media (max-width: 750px) { 
    .containerDesktop {
      display: none;
    }
}

/* casousel mobile */
.containerMobile img{
  border-style: solid;
  max-width: 100%;
  border: 5px solid  rgb(231, 226, 217);
}
.carousel-caption{
  position: absolute;
  padding: 15px 30px;
}
.carousel-caption h4{
  color: white;
}

/*card and card description on desktop*/
.name{
  font-size: 1.5rem;
  position: relative;
  background: linear-gradient(-450deg, #b68d5e, #e8d3c3, #b68d5e);
}


img.card-img-top{
  -webkit-filter: blur(2px);
  filter: blur(2px);
  max-width: 100%;
}
.card:hover img{
  -webkit-filter: blur(0px);
  filter: blur(0px);
  transition: 0.3s;
}

/*CONTACT FORM*/
#contactForm{
  background-color: rgb(231, 226, 217);
}
.btn{
  background-color:  #daa970;
  font-family: 'DM Sans', sans-serif;
  overflow: hidden;
  position: relative;
  z-index: 20;
}
.btn:hover{
  background-color:rgb(134, 91, 42);
}
h4{
  font-family: 'DM Sans', sans-serif;
  color: #62441a;
  overflow: hidden;
  position: relative;
  z-index: 20;
}
.btn:after{
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
.btn:hover:after {
    left: 120%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#myBtn {
  display: none; 
  overflow: hidden;
  position: fixed; 
  bottom: 20px;
  right: 30px;
  z-index: 20;
  border: none; 
  outline: none; 
  background-color: #daa970; 
  color: #62441a;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
#myBtn:after{
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
#myBtn:hover {
  background-color: rgb(134, 91, 42); /* Add a dark-grey background on hover */
}
#myBtn:hover::after{
  left: 120%;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.footer{
  background: linear-gradient(-45deg, #e8d3c3, #daa970, #936626);;
}
